<h1>Sign In</h1>

<%= form_tag sessions_path do %>
  <div class="field">
    <%= label_tag "Username or Email" %><br/>
    <%= text_field_tag :username_or_email, params[:username_or_email] %>
  </div>
  <div class="field">
    <%= label_tag :password %><br/>
    <%= password_field_tag :password %>
  </div>
  <div class="actions"><%= submit_tag "Sign In" %></div>
  <div class="actions"><%= link_to "Sign Up", sign_up_path %></div>
<% end %>
