<h1>Your Entities</h1>

<% @entities.each do |entity| %>
<div id="entity_box">
  <p><%= link_to entity.name, entity %><%= entity.info_string %></p>
  <% if entity.bills.count > 0 %>
    <hr />
    <% entity.bills.each do |bill| %>
      <p><%= bill.name %> : <%= bill.info_string %></p>
    <% end %>
    <p>Total: <%= entity.total_value.to_s %></p>
  <% end %>
</div>
<% end %>

<!-- JS should create a new entity_box here and put the form for a new entity in it.  When it submits it should then replace the form with the new data for the entity -->

<div id="entity_box">
  <%= link_to '+ Add A New Entity', new_entity_path %>
</div>

<div id="entity_box">
  <%= link_to '+ Add A New Bill', new_bill_path %>
</div>

<p>Grand Total: <%= current_user.total_value %></p>
