<p id="notice"><%= notice %></p>

<%= render @entity %>

<%= @entity.formatted_address %> | <%= link_to 'Edit', edit_entity_path(@entity) %> | <%= link_to 'Back', entities_path %>

<!-- TODO: The tasks below are not organized per page layout but per functionality. These will be organized at my discretion -->
<!-- These might also be unnecessary -->

<!-- Need to display users attached to this entity -->

<!-- Need to be able to invite people to this entity -->

<!-- Need to show bills attached to this entity -->

<!-- Need to show bills summary sidebar -->

<!-- Need to show upcoming bills -->

<!-- Need to show an activity feed for the entity -->
