<div class="fields">
  <h3>New Exemption</h3>
  <div class="field">
    <%= f.label :user %><br />
    <!-- Dangerous, need to use js to populate this select instead of a find -->
    <%= f.select :user_id, (@bill.entity || Entity.find(params[:entity_id])).users.collect{|x| [x.username, x.id]}, {:include_blank => false} %>
  </div>
  <div class="field">
    <%= f.label :percentage %><br />
    <%= f.select :percentage, [["Flat-Rate", 'f'], ["Percentage", 't']], {:include_blank => false} %>
  </div>
  <div class="field">
    <%= f.label :subtract %><br />
    <%= f.select :subtract, [["More", 'f'], ["Less", 't']], {:include_blank => false} %>
  </div>
  <div class="field">
    <%= f.label :amount %><br />
    <%= f.number_field :amount, :min => 0.00, :max => 10000.00, :step => 0.01 %>
  </div>
  <div class="field">
    <%= f.label :expire %><br />
    <%= f.select :expire, [["No", 'f'], ["Yes", 't']], {:include_blank => false} %>
  </div>
  <!-- the state of the expire select should toggle this disabled if not set to expire -->
  <div class="field">
    <%= f.label :expiration_date %><br />
    <%= f.text_field :expiration_date %>
  </div>
  <%= link_to_remove_fields "remove", f %>
</div>
